.calendar {
    width: 80%;
}

.calendar-table {
    border-collapse: collapse;
    border-spacing: 0.5rem;
    width: 100%;
    table-layout: fixed;
}

td, th {
    border: 1px solid #999;
}

td {
    vertical-align: top;
    height: 8rem;
}

td:hover {
    background-color: var(--mud-palette-primary-xx-light);
}

th {
    vertical-align: middle;
    text-align: center;
    height: 2rem;
}
