@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject UserAuthorizationService authorizationService


<AuthorizeView>
    <Authorized>
        <div class="hello-message">
            Witaj @context.User.Identity?.Name!
        </div>
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        await authorizationService.LogoutUser();
        Navigation.NavigateTo("/", forceLoad: true);
    }
}
