@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject UserAuthorizationService authorizationService


<AuthorizeView>
    <Authorized>
        <div class="hello-message mr-2">
            <MudText Align="Align.Center">Witaj @context.User.Identity?.Name!</MudText>
        </div>
        <MudButton Class="white-button" Variant="Variant.Outlined" Size="Size.Small" OnClick="BeginSignOut">Wyloguj</MudButton>
    </Authorized>
    <NotAuthorized>
        <MudButton Class="white-button" Variant="Variant.Outlined" Size="Size.Small" Link="authentication/login">Zaloguj</MudButton>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        await authorizationService.LogoutUser();
        Navigation.NavigateTo("/", forceLoad: true);
    }
}
