@using FunPlannerShared.Data.Enums
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <div class="navbar-brand" href="">Fun Planner</div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<AuthorizeView Roles="@($"{Role.User}, {Role.Admin}")">
<Authorized>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Kalendarz
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="my-events">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Moje wydarzenia
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="upcoming-events">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Nadchodzące wydarzenia
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hall-of-fame">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Koledzy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="my-wall">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Moje osiągnięcia
            </NavLink>
        </div>
    </nav>
</div>
</Authorized>
</AuthorizeView>

<AuthorizeView Roles="@($"{Role.Admin}")">
    <MudText Color="Color.Secondary" class="adminHeader" Align="Align.Center" Typo="Typo.h5">Panel Administratora</MudText>
    <div class="nav-item px-3">
            <NavLink class="nav-link" href="all-events">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Wszystkie wydarzenia
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="all-notes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Notatki
            </NavLink>
        </div>
</AuthorizeView>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
