@*@page "/add-event"
@using FunPlanner.Models.Calendar
@using FunPlannerShared.Controllers
@using FunPlannerShared.Data.Entities
@inject IEventController eventController

<PageTitle>Dodaj Wydarzenie</PageTitle>

<h1>Dodaj Wydarzenie</h1>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


<EditForm Model="@calendarEvent" OnValidSubmit="@AddEvent">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="calendarEvent.Name" />
    <InputDate id="start" @bind-Value="calendarEvent.Start" />
    <InputDate id="end" @bind-Value="calendarEvent.End" />
    <InputText id="description" @bind-Value="calendarEvent.Description" />

    <button class="btn btn-primary" type="submit">Potwierdź</button>
</EditForm>

<p>ilość wydarzeń: @eventCount</p> 

@code {
    private int currentCount = 0;
    private int eventCount = 0;
    private CalendarEventDto calendarEvent = new();
    //private ICollection<Event> events = new List<Event>();

    private async Task IncrementCount()
    {
        currentCount++;
        await AddEvent();
    }

    private async Task AddEvent()
    {
        //var newEvent = new Event
        //{
        //    Start = calendarEvent.Start,
        //    End = calendarEvent.End,
        //    Name = calendarEvent.Name,
        //    Description = calendarEvent.Description
        //};

        var newCalendarEvent = new CalendarEventDto
            {
                Id = Guid.NewGuid(),
                Start = calendarEvent.Start,
                End = calendarEvent.End,
                Name = calendarEvent.Name,
                Description = calendarEvent.Description
            };

        //events.Add(calendarEvent);
        await eventController.Post(newCalendarEvent);
        //eventCount = events.Count();
    }
}
*@