@page "/calendar"
@using FunPlanner.Models.Calendar

<PageTitle>CalendarTest</PageTitle>

<h1>Calendar</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>ilość wydarzeń: @eventCount</p> 

@code {
    private int currentCount = 0;
    private int eventCount = 0;
    private ICollection<Event> events = new List<Event>();

    private void IncrementCount()
    {
        currentCount++;
        AddEvent();
    }

    private void AddEvent()
    {
        var calendarEvent = new Event
        {
            Start = new DateTime(2021, 11, 21),
            End = new DateTime(2021, 11, 22),
            Name = "wydarzenie 1"
        };

        events.Add(calendarEvent);

        eventCount = events.Count();
    }
}
