.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 16px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    line-height: 220%;
}

::deep .button{
    width: 160px;
    font-size: inherit;
}
